html {
  width: 100%;
}

body {
  color: white;
  background: #000000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
button {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
}

#calculator-body {
  background: #5c2e7e;
  margin-top: 10vh;
}

button {
  width: 80px;
  height: 80px;
  border: none;
  background: transparent;
  color: white;
  padding: 0;
}

span {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #4c6793;
}

#\= span {
  background: #8bbccc;
}

#result-expr {
  height: 30px;
  font-size: 22px;
  padding: 5px 10px 0;
}

#display {
  height: 32px;
  margin-bottom: 10px;
  margin: 0 10px;
}

.btn-row {
  display: flex;
}
