html {
  width: 100%;
}

body {
  color: white;
  background: #000000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
button {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
}

#calculator-body {
  margin-top: 10vh;
  width: 420px;
}

button:hover:not(.operator-btn, #\=) {
  background: #6f38c5;
}

.operator-btn:hover span {
  background: #87a2fb;
}

#\=:hover span {
  background: #3256d8;
}

button {
  height: 80px;
  border: none;
  background: #5c2e7e;
  color: white;
  padding: 0;
}

span {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #4c6793;
}

#\= span {
  background: #8bbccc;
}

#result-expr,
#display {
  background: #80489c;
}

#result-expr {
  height: 30px;
  font-size: 22px;
  padding: 5px 10px 0;
}

#display {
  height: 32px;
  padding: 0 10px 10px;
}

.btn-row {
  display: flex;
}

.btn-row button {
  flex: 1;
}
